@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.union-content {
    font-family: 'Open Sans', sans-serif;
}
.bg-color {
    background-color: #F9F9F9;
}

.text {
    text-align: justify;
    text-justify: inter-word;
}