@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.text {
    font-family: 'Open Sans', sans-serif;
}
.text-color {
    color: #103F54;
    font-weight: 600;
}
.line {
    
    height: 2px;
    background-color: #103F54;
}

.underline-style {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 3px;
}

.title-underline {
   background-color: #103F54;
   width: 28px;
   height: 3px;
}